<div class="first-screen__overlay">
	<div class="container">
		<!-- Left -->
		<div class="content">
			<span class="content__overtitle">
				Ремонт техники “Название бренда” в день обращения
			</span>
			<h1 class="content__title">
				<span>Ваше готовое</span>
				<span>устройство</span>
			</h1>
			<ul class="content__conditions">
				<li>Через 1,5 часа</li>
				<li>
					<span>Благодаря собственному складу</span>
					<span>оригинальных запчастей</span>
				</li>
			</ul>
			<div class="content__repair-price">
				@@include('../RepairPrice/RepairPrice.html')
			</div>
		</div>
		<!-- Right -->
		<div class="image">
			<img src="assets/first-screen-laptop.png" alt="Laptop" />
			<div class="image__sticker">
				<span class="discount">-20%</span>
				<span class="text">
					Скидки при <br />
					записи
				</span>
			</div>
		</div>
	</div>
</div>
