<div class="container">
	<!-- Card free diagnostics -->
	<div class="card">
		<div class="card__content">
			<div class="card__content-top">
				<img src="assets/icons/sand-clock.svg" alt="Sand Clock" />
				<h4>
					Бесплатная <br />
					диагностика
				</h4>
			</div>
			<div class="card__content-bottom">
				Всего за 15 минут мастер выявит неисправность
			</div>
		</div>
	</div>

	<!-- Card Warranty -->
	<div class="card">
		<div class="card__content">
			<div class="card__content-top">
				<img src="assets/icons/calendar.svg" alt="Calendar" />
				<h4>
					Гарантия <br />
					до 12 месяцев
				</h4>
			</div>
			<div class="card__content-bottom">
				Даем гарантию до 1 года на все услуги и запчасти
			</div>
		</div>
	</div>

	<!-- Card Subway -->
	<div class="card">
		<div class="card__content">
			<div class="card__content-top">
				<img src="assets/icons/subway.svg" alt="Subway" />
				<h4>
					300 метров <br />
					от метро
				</h4>
			</div>
			<div class="card__content-bottom">
				Мы находимся рядом с метро Вы легко и быстро нас найдете
			</div>
		</div>
	</div>
</div>
