// Local variables
$repair-price-border-radius: 6px;
$repair-price-offset-default: 12px;
$repair-price-px: (14px, 16px, 18px, 20px, 21px, 22px);
$repair-price-items-height: (60px, 62px, 64px, 66px, 68px, 70px);
$repair-price-items-default-height: 58px;
.repair-price {
	display: flex;
	flex-direction: column;
	gap: 10px;
	// Label
	&__label {
		padding: $repair-price-offset-default;
		background-color: $white;
		border-radius: $repair-price-border-radius;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
		display: flex;
		align-items: center;
		gap: $repair-price-offset-default;
		height: $repair-price-items-default-height;
		@include set-breakpoint-values('height', $repair-price-items-height);
		@include set-breakpoint-values('padding-left', $repair-price-px);
		@include set-breakpoint-values('padding-right', $repair-price-px);
		@include set-breakpoint-values('gap', $repair-price-px);
		transition: box-shadow $main-transition;
		&.error {
			box-shadow: 0 0px 5px 5px rgba(255, 44, 44, 0.5) !important;
		}
	}
	// Input
	&__input {
		width: 100%;
		&::placeholder {
			color: $placeholder-color;
			padding-left: 2px;
		}
	}
	// Button
	&__button {
		color: $white;
		height: $repair-price-items-default-height;
		@include set-breakpoint-values('height', $repair-price-items-height);
		background: {
			image: $blue-gradient;
			size: 100% 100%;
		}
		border-radius: $repair-price-border-radius;
		transition: background-size $main-transition;
		&:hover {
			background: {
				size: 300% 300%;
			}
			@include animation-rainbow($duration: 2s, $count: infinite);
		}
	}
}
