<div class="container">
	<!-- Logo -->
	<a class="logo" href="/">
		<img class="logo__img" src="/assets/icons/logo.svg" alt="Logo" />
		<span class="logo__title">Мастер-сервис</span>
		<span class="logo__subtitle">Сервисный-Центр</span>
	</a>
	<!-- Navigation -->
	<nav class="navigation">
		<ul class="navigation__list">
			<li><a class="navigation__link" href="#">О нас</a></li>
			<li><a class="navigation__link" href="#">Выезд и доставка</a></li>
			<li><a class="navigation__link" href="#">Гарантии</a></li>
			<li><a class="navigation__link" href="#">Контакты</a></li>
		</ul>
	</nav>
	<!-- Location -->
	<div class="location">
		<a
			href="https://yandex.ru/maps/1/moscow-and-moscow-oblast/?ll=38.725150%2C55.133205&mode=routes&rtext=~55.133205%2C38.725150&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNjQ3MDAwNjExEqUB0KDQvtGB0YHQuNGPLCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0LPQvtGA0L7QtNGB0LrQvtC5INC-0LrRgNGD0LMg0JrQvtC70L7QvNC90LAsINC_0L7RgdGR0LvQvtC6INCg0LDQtNGD0LbQvdGL0LksINCc0L7RgdC60L7QstGB0LrQsNGPINGD0LvQuNGG0LAsIDIwIgoNjuYaQhVniFxC&z=17"
			target="_blank"
			class="location__link"
		>
			<div class="location__icon-holder">
				<img
					class="location__icon"
					src="/assets/icons/location.svg"
					alt="Location"
				/>
			</div>
			<div class="location__address">
				<div class="location__address-city">Москва</div>
				<div class="location__address-street">ул. Московская, д. 5, к. 20</div>
			</div>
		</a>
	</div>
	<!-- Call -->
	<div class="call">
		<span class="call__hours">Eжедневно с 9.00 до 21.00</span>
		<a class="call__number" href="tel:+79999999999">+7 (999) 999-99-99</a>
	</div>
</div>
