<ul class="devices__list">
	<li class="device">
		<div class="device__content">
			<div class="img-holder">
				<img src="/assets/icons/smartphone.svg" alt="Smartphone" />
			</div>
			<div class="info">
				<h3 class="info__title">Смартфоны</h3>
				<div class="info__subtitle">
					<span class="info__subtitle-services"> 16 услуг </span>
					<div class="info__subtitle-divider"></div>
					<span class="info__subtitle-price">Цена от: 500 руб.</span>
				</div>
			</div>
			<button class="device__button">Перейти</button>
		</div>
	</li>
	<li class="device">
		<div class="device__content">
			<div class="img-holder">
				<img src="/assets/icons/tablet.svg" alt="Tablet" />
			</div>
			<div class="info">
				<h3 class="info__title">Планшеты</h3>
				<div class="info__subtitle">
					<span class="info__subtitle-services"> 16 услуг </span>
					<div class="info__subtitle-divider"></div>
					<span class="info__subtitle-price">Цена от: 500 руб.</span>
				</div>
			</div>
			<button class="device__button">Перейти</button>
		</div>
	</li>
	<li class="device">
		<div class="device__content">
			<div class="img-holder">
				<img src="/assets/icons/photo-camera.svg" alt="Photo camera" />
			</div>
			<div class="info">
				<h3 class="info__title">Фотоаппараты</h3>
				<div class="info__subtitle">
					<span class="info__subtitle-services"> 16 услуг </span>
					<div class="info__subtitle-divider"></div>
					<span class="info__subtitle-price">Цена от: 500 руб.</span>
				</div>
			</div>
			<button class="device__button">Перейти</button>
		</div>
	</li>
	<li class="device">
		<div class="device__content">
			<div class="img-holder">
				<img src="/assets/icons/tv.svg" alt="TV" />
			</div>
			<div class="info">
				<h3 class="info__title">Телевизоры</h3>
				<div class="info__subtitle">
					<span class="info__subtitle-services"> 16 услуг </span>
					<div class="info__subtitle-divider"></div>
					<span class="info__subtitle-price">Цена от: 500 руб.</span>
				</div>
			</div>
			<button class="device__button">Перейти</button>
		</div>
	</li>
	<li class="device">
		<div class="device__content">
			<div class="img-holder">
				<img src="/assets/icons/projector.svg" alt="Projector" />
			</div>
			<div class="info">
				<h3 class="info__title">Проекторы</h3>
				<div class="info__subtitle">
					<span class="info__subtitle-services"> 16 услуг </span>
					<div class="info__subtitle-divider"></div>
					<span class="info__subtitle-price">Цена от: 500 руб.</span>
				</div>
			</div>
			<button class="device__button">Перейти</button>
		</div>
	</li>
	<li class="device">
		<div class="device__content">
			<div class="img-holder">
				<img src="/assets/icons/video-camera.svg" alt="Video camera" />
			</div>
			<div class="info">
				<h3 class="info__title">Видеокамеры</h3>
				<div class="info__subtitle">
					<span class="info__subtitle-services"> 16 услуг </span>
					<div class="info__subtitle-divider"></div>
					<span class="info__subtitle-price">Цена от: 500 руб.</span>
				</div>
			</div>
			<button class="device__button">Перейти</button>
		</div>
	</li>
</ul>
