<div class="container">
	<div class="content">
		<div class="content__left">
			<h2 class="title">Ваше <span>готовое</span> устройство</h2>
			<div class="divider"></div>
			<div class="cta">
				<h3 class="cta__title">Не нашли нужное устройство ?</h3>
				<div class="cta__subtitle">
					Или оставть заявку и наш менеджер Вам перезвонит через 15 минут.
				</div>
				<div class="cta__repair-price">
					@@include('../RepairPrice/RepairPrice.html')
				</div>
				<div class="cta__call">@@include('../Call/Call.html')</div>
			</div>
			<div class="img-holder">
				<img src="/assets/icons/arrow-long.svg" alt="Arrow" />
			</div>
		</div>
		<div class="content__right">@@include('DevicesList.html')</div>
	</div>
</div>
